page-home {
    .card-background-page {
        ion-card {
            align-self: 1;
            position: relative;
            text-align: center;
        }
        .icons {
            background-color: #fff;
            border: 1.7px solid #7f8c8d;
            color: #7f8c8d;
            margin: 1px;
            font-size: 1.3em;
            width: 30%;
            height: 100%;
        }
        .name {
            margin: 0;
        }
        .handle {
            margin: 0;
        }
        .status {
            white-space: normal;
            color: #000;
            margin-top: 5px;
        }
        .item {
            align-items: baseline;
        }
        .button-container {
            align-self: flex-end;
            text-align: right;
        }
        .card-item {
            width: 100%;
            height: 35%;
            background: linear-gradient(1deg, #ddd, #aad7eC)
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
}