page-welcome {
    #welcome {
        background: linear-gradient(10deg, #a2aEFC, #98E7FC);
        h1 {
            margin-top: 50px
        }
        .marginTop {
            margin-top: 150px;
        }
    }
}