page-home {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-item {
            width: 100%;
            height: 100%;
            background: linear-gradient(1deg, #ddd, #aad7eC)
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
        .item-avatar {
            width: 55% !important;
            height: 55% !important;
            max-width: 100px !important; //any size
            max-height: 100px !important; //any size 
        }
    }
}